[Desktop Entry]
Type=Application
Name=Stremio
Comment=Launch Stremio
Exec=flatpak run com.stremio.Stremio --full-screen
Icon=stremio
Terminal=false
Categories=Video;AudioVideo;
