[Desktop Entry]
Type=Application
Name=Chrome
Comment=Launch Chrome Browser
Exec=chromium-browser --disable-notifications --disable-translate --disable-session-crashed-bubble
Icon=chromium-browser
Terminal=false
Categories=Network;WebBrowser;
